.properties-title .wrap-tag {
  top: 12px;
  left: 12px;
}
.properties-title .wrap-tag .tag {
  display: flex;
  height: 32px;
  align-items: center;
  padding: 0 12px;
  border-radius: 4px;
}
.properties-title .wrap-tag .tag.rent {
  background-color: var(--Secondary-2);
}
.properties-title .wrap-tag .tag.categoreis {
  background-color: var(--Bg-light);
}
.properties-title .wrap-tag .tag.sale {
  background-color: var(--Secondary);
  color: var(--White);
}
.properties-title .wrap-info {
  padding-top: 20px;
  border-top: 1px solid var(--Line);
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 24px 12px;
}
.properties-title .wrap-info .text-body-default {
  margin-bottom: 8px;
}
.properties-title .info {
  gap: 40px;
}
.properties-title .info i {
  font-size: 28px;
}
.properties-title .list-action a {
  height: 52px;
  width: 52px;
  border: 2px solid var(--Line);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: var(--Text-primary);
}
.properties-title .list-action a:hover {
  border-color: var(--Text-primary);
}
.properties-title .location i {
  font-size: 28px;
}
.properties-title.v2 .wrap-info {
  padding-top: 24px;
  margin-top: 24px;
}
@media (max-width: 767px) {
  .properties-title .list-action a {
    height: 46px;
    width: 46px;
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .properties-title .info {
    gap: 20px;
  }
  .properties-title .info i {
    font-size: 24px;
  }
}

.properties-thumbs {
  border-radius: 20px;
  overflow: hidden;
}

.properties-gallery img {
  border-radius: 16px;
}
.properties-gallery .wrap-btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.properties-gallery .tf-btn {
  padding: 0 16px;
}

.properties-overview .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  border-radius: 8px;
  color: var(--Text-primary);
  border: 1px solid var(--Line);
  font-size: 28px;
}
.properties-overview .wrap-overview {
  display: flex;
  gap: 20px 40px;
  flex-wrap: wrap;
}
.properties-overview .wrap-overview .item {
  width: 180px;
}
.properties-overview .wrap {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.properties-overview .wrap .item {
  max-width: 180px;
}
.properties-overview.v2 .item {
  width: 50%;
}
.properties-overview.v4 .item {
  width: 50%;
}
@media (min-width: 1200px) {
  .properties-overview.v3 .tf-grid-layout {
    column-gap: 45px;
  }
}
@media (min-width: 992px) {
  .properties-overview .tf-grid-layout {
    row-gap: 20px;
  }
}

.properties-utility i {
  font-size: 24px;
}
.properties-utility .col-utility .item:not(:last-child) {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--Line);
}
.properties-utility.v2 .tf-grid-layout {
  gap: 12px;
}
.properties-utility.v2 .col-utility .item:not(:last-child) {
  padding-bottom: 11px;
  margin-bottom: 12px;
}
@media (min-width: 1200px) {
  .properties-utility .tf-grid-layout {
    gap: 80px;
  }
}

.properties-menutab .menu-tab {
  gap: 32px;
  border-bottom: unset;
}
.properties-menutab .menu-tab a {
  padding: 0;
  padding-bottom: 4px;
}

.properties-video .widget-video {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.properties-video .popup-youtube {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.properties-calculator .wrap-form {
  padding: 28px 26px;
  border-radius: 16px;
  border: 1px solid var(--Line);
}
.properties-calculator .form-calculator {
  margin-bottom: 19px;
}
.properties-calculator.v2 .wrap-form {
  background-color: var(--White);
  border: unset;
}
@media (max-width: 767px) {
  .properties-calculator .wrap-form {
    padding: 28px 15px;
  }
}

.properties-floor .floor-item {
  padding: 15px 20px 17px;
  border-radius: 12px;
  border: 1px solid var(--Line);
}
.properties-floor .contnet {
  padding-top: 17px;
  margin-top: 17px;
  border-top: 1px solid var(--Line);
}
.properties-floor .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.properties-floor .inner-left i,
.properties-floor .inner-right i {
  font-size: 20px;
}
.properties-floor .wrap-download {
  display: flex;
  gap: 12px 40px;
  flex-wrap: wrap;
}
.properties-floor .attachments-item .icon {
  padding: 8px 10px;
  border-radius: 8px;
  background-color: var(--Bg-light);
}
.properties-floor .attachments-item .icon i {
  font-size: 40px;
}
.properties-floor .attachments-item i {
  font-size: 24px;
}
@media (max-width: 575px) {
  .properties-floor .floor-item {
    padding: 15px 10px 17px;
  }
  .properties-floor .inner-right {
    gap: 10px;
  }
}

.properties-location .heading i {
  font-size: 24px;
}
.properties-location .wrap-map {
  overflow: hidden;
  position: relative;
  height: 400px;
  width: 100%;
  border-radius: 16px;
}
.properties-location.v2 .wrap-map {
  height: 373.647064209px;
}
.properties-location.v3 .wrap-map {
  height: 600px;
}

.properties-nearby li {
  display: flex;
  gap: 16px;
}
.properties-nearby li span:first-child {
  width: 120px;
  display: block;
}
.properties-nearby .wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 8px 24px;
}
.properties-nearby .wrap .col-nearby {
  max-width: 200px;
  width: 100%;
}

.properties-comment {
  padding: 26px 28px 28px;
  border-radius: 16px;
  border: 1px solid var(--Line);
}
@media (max-width: 767px) {
  .properties-comment {
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .properties-comment {
    padding: 26px 15px 28px;
  }
}

.properties-hero {
  display: flex;
}
.properties-hero .properties-title {
  padding: 80px;
  background-color: var(--White);
  width: 37.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.properties-hero .wrap-tag .tag {
  height: 40px;
  padding: 0 16px;
}
.properties-hero .thumb-main {
  border-radius: 0 !important;
}
.properties-hero .thumb-main img {
  min-height: 660px;
  object-fit: cover;
}
.properties-hero .right {
  width: 62.5%;
  position: relative;
}
.properties-hero .right:hover .sw-button {
  opacity: 1;
  margin: 0;
}
.properties-hero .sw-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 6;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.properties-hero .sw-button.sw-thumbs-next {
  right: 20px;
  margin-right: 20px;
}
.properties-hero .sw-button.sw-thumbs-prev {
  left: 20px;
  margin-left: 20px;
}
.properties-hero .wrap-pagi {
  position: absolute;
  top: 64px;
  right: 40px;
  z-index: 5;
}
.properties-hero .thumbs-sw-pagi .swiper-slide {
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}
.properties-hero .thumbs-sw-pagi .swiper-slide-thumb-active {
  border-color: var(--Text-primary);
}
.properties-hero .list-action {
  margin-top: 28px;
}
.properties-hero .list-action a {
  border-radius: 8px;
}
.properties-hero .list-action .compare a {
  width: unset;
  padding: 0 14px;
}
@media (max-width: 1550px) {
  .properties-hero .properties-title {
    padding: 80px 30px;
  }
}
@media (max-width: 1199px) {
  .properties-hero {
    flex-direction: column;
  }
  .properties-hero .properties-title,
  .properties-hero .right {
    width: 100%;
  }
  .properties-hero .properties-title {
    order: 1;
  }
}
@media (max-width: 767px) {
  .properties-hero .properties-title {
    padding: 60px 15px;
  }
  .properties-hero .wrap-pagi {
    top: 30px;
    right: 15px;
  }
  .properties-hero .wrap-pagi .image-detail {
    width: 60px;
    height: 60px;
  }
  .properties-hero .wrap-pagi .image-detail img {
    width: 100%;
    object-fit: cover;
  }
  .properties-hero .thumb-main img {
    min-height: 530px;
  }
}

.properties-2 {
  background-color: var(--White);
  padding: 28px;
  border-radius: 16px;
}
@media (max-width: 767px) {
  .properties-2 {
    padding: 28px 15px;
  }
}

.properties-menut-list {
  border-bottom: 1px solid var(--Line);
  background-color: var(--Bg-light);
  position: sticky;
  top: 90px;
  z-index: 99;
}
.properties-menut-list .item-slide-effect {
  background-color: var(--Text-primary);
  position: absolute;
  height: 1px;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.properties-menut-list .tab-slide {
  display: flex;
  gap: 1.87px;
  position: relative;
}
.properties-menut-list li a {
  position: relative;
  letter-spacing: 0.05px;
  padding: 16px 24px;
  text-wrap: nowrap;
}
.properties-menut-list li a::after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: var(--Text-primary);
  left: auto;
  right: 0;
}
.properties-menut-list li a.active::after {
  width: 100%;
  left: 0;
  right: auto;
}
@media (max-width: 991px) {
  .properties-menut-list {
    top: 71px;
  }
}

.properties-thumbs-main {
  margin-top: 20px;
}
.properties-thumbs-main .sw-button {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
}
.properties-thumbs-main .sw-button.nav-next-layout {
  right: 40px;
}
.properties-thumbs-main .sw-button.nav-prev-layout {
  left: 40px;
}

.box-sellers {
  padding: 24px;
  border: 1px solid var(--Line);
  border-radius: 16px;
}
.box-sellers .author {
  gap: 20px;
  align-items: center;
}
.box-sellers .author .avatar {
  border-radius: 50%;
  overflow: hidden;
}
.box-sellers .info .icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--Line);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Text-primary);
  flex-shrink: 0;
  background-color: var(--White);
}
.box-sellers .tf-btn i {
  font-size: 20px;
}
.box-sellers.style-1 {
  border-radius: 16px;
  background-color: var(--Bg-light);
  border: none;
  padding: 28px;
  max-width: unset;
  margin-left: unset;
}
.box-sellers.style-1 .author .avatar {
  text-align: center;
  border-radius: unset;
}
.box-sellers.style-1 .author .avatar img {
  border-radius: 12px;
}
.box-sellers.style-2 {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  border: unset;
  background-color: var(--Bg-light);
  padding: 28px 28px 28px;
}
.box-sellers.style-2 .wrap-author {
  display: flex;
  gap: 40px;
}
.box-sellers.style-2 .info {
  display: flex;
  align-self: start;
  gap: 68px;
}
.box-sellers.style-2 .info .item:last-child .icon {
  margin-top: 6px;
}
.box-sellers.style-2 .author .author-info {
  padding-top: 6px;
}
.box-sellers.style-2 .info {
  padding-top: 6px;
}
.box-sellers.style-2 .tf-btn {
  min-width: 240px;
}
@media (max-width: 1199px) {
  .box-sellers.style-2 {
    align-items: center;
  }
  .box-sellers.style-2 .wrap-author {
    flex-direction: column;
    gap: 24px;
  }
}
@media (max-width: 991px) {
  .box-sellers.style-2 {
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }
  .box-sellers.style-2 .wrap-btn {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .box-sellers.style-2 .info {
    flex-direction: column;
    gap: 24px;
  }
}
.box-sellers.style-no-border {
  background-color: var(--White);
  border: unset;
}
@media (min-width: 992px) {
  .box-sellers:not(.box-sellers.style-2, .box-sellers.style-1) {
    max-width: 380px;
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .box-sellers {
    padding: 24px 15px !important;
  }
}

@media (max-width: 991px) {
  .agent-detail .row {
    gap: 40px;
  }
}
.agent-detail .img-style {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}
.agent-detail .img-style img {
  object-fit: cover;
  width: 100%;
}
.agent-detail .tf-social a {
  font-size: 20px;
}
@media (min-width: 1200px) {
  .agent-detail .detail {
    padding-left: 50px;
  }
}
.agent-detail .list {
  max-width: 460px;
}
.agent-detail .map-box {
  height: 273px;
}

.agency-item .img-style {
  overflow: hidden;
  border-radius: 12px;
}
.agency-item .tf-btn {
  height: 40px;
  font-size: 14px;
}
.agency-item .tag {
  width: 120px;
}
.agency-item .bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  margin-top: 12px;
  border-top: 1px solid var(--Line);
}
.agency-item .wrap-icon .icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--Text-primary);
  border: 1px solid var(--Line);
  border-radius: 8px;
}
.agency-item .wrap-icon .icon:hover {
  background-color: var(--Text-primary);
  color: var(--White);
  border-color: var(--Text-primary);
}
@media (min-width: 576px) {
  .agency-item.style-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .agency-item.style-list .img-style {
    flex: 20%;
  }
  .agency-item.style-list .content {
    flex: 53.33%;
  }
}
@media (min-width: 768px) {
  .agency-item.style-list .bot {
    padding-top: 24px;
    margin-top: 24px;
  }
}

.career-item {
  display: flex;
  gap: 24px;
  padding: 20px 24px;
  border: 1px solid var(--Line);
  border-radius: 12px;
  align-items: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.career-item:hover {
  background-color: var(--Bg-light);
}
@media (max-width: 575px) {
  .career-item {
    padding: 20px 15px;
  }
}
.career-item ul {
  gap: 12px 20px;
}
@media (max-width: 575px) {
  .career-item ul {
    flex-wrap: wrap;
  }
}
.career-item ul i {
  font-size: 20px;
}
.career-item .tf-btn {
  height: 40px;
}
.career-item .content {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex: 72%;
  flex-wrap: wrap;
}
.career-item .wrap-btn {
  flex: 20%;
}

.tf-compare-table {
  overflow-x: scroll;
}
.tf-compare-table::-webkit-scrollbar {
  height: 4px;
}
.tf-compare-table::-webkit-scrollbar-thumb {
  background: var(--Line);
}
.tf-compare-table sup {
  top: -6px;
}

.tf-compare-row {
  display: flex;
}
.tf-compare-row .tf-compare-col:first-child {
  min-width: 240px;
}
.tf-compare-row:not(:first-child) .tf-compare-col:first-child {
  border-left: 1px solid var(--Line);
}
.tf-compare-row:first-child .tf-compare-col:first-child {
  border: 0;
}
.tf-compare-row:first-child .tf-compare-col:not(:first-child) {
  border-top: 1px solid var(--Line);
}
.tf-compare-row:first-child .tf-compare-col:nth-child(2) {
  border-left: 1px solid var(--Line);
  border-top-left-radius: 20px;
}
.tf-compare-row:first-child .tf-compare-col:last-child {
  border-top-right-radius: 20px;
}
.tf-compare-row:nth-child(2) .tf-compare-col:first-child {
  border-top-left-radius: 20px;
  border-top: 1px solid var(--Line);
}
.tf-compare-row:last-child .tf-compare-col:first-child {
  border-bottom-left-radius: 20px;
}
.tf-compare-row:last-child .tf-compare-col:last-child {
  border-bottom-right-radius: 20px;
}

.tf-compare-col {
  min-width: 350px;
  border-right: 1px solid var(--Line);
  border-bottom: 1px solid var(--Line);
  font-size: 16px;
  line-height: 26px;
  color: var(--Text-primary);
}
.tf-compare-col .list-star span {
  color: var(--Text-primary);
}
.tf-compare-col .list-star span:last-child {
  color: var(--Line);
}
.tf-compare-col.tf-compare-rate {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.tf-compare-item {
  padding: 32px 40px 19px;
}
@media (max-width: 767px) {
  .tf-compare-item {
    padding: 20px 15px;
  }
}
.tf-compare-item .tf-compare-image {
  border-radius: 8px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
.tf-compare-item .tf-compare-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tf-compare-item .tf-compare-content {
  display: grid;
  margin-top: 16px;
  gap: 4px;
}

.tf-compare-field {
  padding: 15px;
}

.tf-compare-value {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tf-compare-stock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  color: #83b735;
}
.tf-compare-stock .icon {
  width: 16px;
  height: 16px;
  background-color: #83b735;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tf-compare-stock .icon i {
  color: var(--White);
  font-size: 7px;
}

/*------------ sections ---------------- */
/* ---------------------------------------------------------
    * Name: 
    * Version: 1.0.0
    * Author: Themesflat
    * Author URI: http://themesflat.com 

	* Abstracts variable

    * Reset css styles

    * Components

    * section

    * dashboard

    * Responsive
 ------------------------------------------------------------------------------ */
/*--------- Abstracts variable ---------- */
.page-title {
  position: relative;
  z-index: 99;
}
.page-title .thumbs img {
  width: 100%;
  object-fit: cover;
}
.page-title.style-default .thumbs {
  background-color: var(--Text-primary);
}
.page-title.style-default .thumbs img {
  width: 100%;
  opacity: 0.5;
  min-height: 300px;
  object-fit: cover;
}
.page-title.style-default .title {
  margin-bottom: 12px;
}
.page-title.style-default .content {
  position: absolute;
  inset: 0;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title.style-1 .content {
  display: flex;
  margin-bottom: 70px;
  padding-top: 61px;
  align-items: center;
  gap: 24px;
}
.page-title.style-1 .content > div {
  flex: 20%;
}
.page-title.style-1 .content .title {
  letter-spacing: -1px;
  flex: 44.8%;
}
.page-title.style-1 .flat-tab-form {
  position: relative;
  z-index: 9;
  margin-top: -119px;
}
.page-title.style-1 .slide-inner img {
  min-height: 300px;
  object-fit: cover;
  width: 100%;
}
@media (max-width: 991px) {
  .page-title.style-1 .content {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 50px;
    align-items: start;
  }
}
.page-title.style-2 .slide-inner {
  position: relative;
}
.page-title.style-2 .thumbs {
  background-color: var(--Text-primary);
  height: 450px;
}
.page-title.style-2 .thumbs img {
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
.page-title.style-2 .content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
}
.page-title.style-2 .slide-inner .wrap-btn {
  margin-top: 40px;
  gap: 20px;
}
.page-title.style-2 .sw-dots {
  position: absolute;
  bottom: 19px;
  z-index: 10;
}
.page-title.style-2 .flat-tab-form {
  background-color: var(--Bg-light);
  padding: 60px 0;
}
.page-title.style-2 .sw-button.nav-prev-layout {
  left: 3.1%;
}
.page-title.style-2 .sw-button.nav-next-layout {
  right: 3.1%;
}
.page-title.style-2 .wg-filter {
  padding: 21px 28px 28px;
}
@media (min-width: 768px) {
  .page-title.style-2 .thumbs {
    height: 600px;
  }
}
@media (min-width: 992px) {
  .page-title.style-2 .thumbs {
    height: 720px;
  }
}
@media (max-width: 1550px) {
  .page-title.style-2 .sw-button.nav-prev-layout {
    left: 15px;
  }
  .page-title.style-2 .sw-button.nav-next-layout {
    right: 15px;
  }
}
.page-title.style-3 {
  position: relative;
}
.page-title.style-3 .content {
  position: absolute;
  inset: 0;
  margin-top: 120px;
}
.page-title.style-3 .thumbs img {
  min-height: 730px;
  object-fit: cover;
}
.page-title.style-3 .flat-tab-form {
  margin-top: -127px;
}
@media (min-width: 768px) {
  .page-title.style-3 .content {
    margin-top: 170px;
  }
}
.page-title.style-4 .page-inner {
  display: flex;
  background-color: var(--Bg-light);
}
.page-title.style-4 .thumbs {
  width: 50%;
}
.page-title.style-4 .thumbs .slide-inner {
  height: 100%;
}
.page-title.style-4 .thumbs .swiper {
  height: 100%;
}
.page-title.style-4 .thumbs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-title.style-4 .content {
  width: 50%;
  padding: 230px 162px 100px 100px;
  background-color: var(--Bg-light);
}
.page-title.style-4 .tf-btn {
  margin-top: 40px;
}
.page-title.style-4 .info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 8px 12px;
  flex-wrap: wrap;
}
.page-title.style-4 .info i {
  font-size: 24px;
}
@media (max-width: 1440px) {
  .page-title.style-4 .content {
    padding: 230px 30px 100px 50px;
  }
}
@media (max-width: 991px) {
  .page-title.style-4 .page-inner {
    flex-direction: column;
  }
  .page-title.style-4 .content {
    padding: 80px 30px;
  }
  .page-title.style-4 .content,
  .page-title.style-4 .thumbs {
    width: 100%;
  }
  .page-title.style-4 .info-item {
    width: 152px;
  }
}
@media (max-width: 767px) {
  .page-title.style-4 .title {
    margin-bottom: 12px;
  }
  .page-title.style-4 .desc {
    margin-bottom: 12px;
  }
  .page-title.style-4 .tf-btn {
    margin-top: 16px;
  }
  .page-title.style-4 .content {
    padding: 60px 15px;
  }
}
.page-title.style-5 {
  position: relative;
}
.page-title.style-5 .content {
  position: absolute;
  inset: 0;
}
.page-title.style-5 .thumbs {
  height: 480px;
}
.page-title.style-5 .thumbs img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.page-title.style-5 .content-inner {
  margin-top: 149px;
  padding: 20px;
  background-color: var(--White);
  border-radius: 8px;
}
.page-title.style-5 .info {
  padding-top: 20px;
  border-top: 1px solid var(--Line);
  margin-top: 20px;
  gap: 25px;
}
.page-title.style-5 .info i {
  font-size: 24px;
  color: var(--Text-secondary);
}
.page-title.style-5 .wrap-tag .tag {
  display: flex;
  height: 32px;
  align-items: center;
  padding: 0 12px;
  border-radius: 4px;
}
.page-title.style-5 .wrap-tag .tag.rent {
  background-color: var(--Secondary-2);
}
.page-title.style-5 .wrap-tag .tag.categoreis {
  background-color: var(--Bg-light);
}
.page-title.style-5 .wrap-tag .tag.sale {
  background-color: var(--Secondary);
  color: var(--White);
}
.page-title.style-5 .flat-tab-form {
  background-color: var(--Bg-light);
  padding: 60px 0;
}
.page-title.style-5 .sw-button {
  top: 58%;
}
.page-title.style-5 .sw-button.nav-prev-layout {
  left: 60px;
}
.page-title.style-5 .sw-button.nav-next-layout {
  right: 60px;
}
@media (min-width: 576px) {
  .page-title.style-5 .thumbs {
    height: 632px;
  }
  .page-title.style-5 .content-inner {
    margin-top: 233px;
  }
}
@media (min-width: 1200px) {
  .page-title.style-5 .thumbs {
    height: 760px;
  }
  .page-title.style-5 .content-inner {
    margin-top: 310px;
    margin-left: 2px;
  }
}
@media (max-width: 575px) {
  .page-title.style-5 .content-inner {
    padding: 20px 15px;
  }
  .page-title.style-5 .info {
    gap: 12px;
  }
  .page-title.style-5 .info li {
    gap: 4px;
  }
}
.page-title .sw-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  opacity: 0;
}
.page-title .sw-button.nav-prev-layout {
  left: 40px;
  margin-left: 30px;
}
.page-title .sw-button.nav-next-layout {
  right: 40px;
  margin-right: 30px;
}
.page-title .swiper:hover .sw-button {
  opacity: 1;
  margin: 0 !important;
}

.section-about .parallaxie,
.banner-2 .parallaxie {
  height: 600px;
  border-radius: 20px;
  margin-bottom: 48px;
}
.section-about .parallaxie .content,
.banner-2 .parallaxie .content {
  width: 100%;
  height: 100%;
  padding: 20px 20px 19px;
}
.section-about .wrap,
.banner-2 .wrap {
  gap: 12px;
  align-items: end;
  justify-content: end;
  height: 100%;
}
.section-about .box i,
.banner-2 .box i {
  font-size: 40px;
}
.section-about .tf-btn,
.banner-2 .tf-btn {
  margin-top: 40px;
}
.section-about.style-2 .parallaxie,
.banner-2.style-2 .parallaxie {
  margin-bottom: 0;
}
.section-about.style-2 .list,
.banner-2.style-2 .list {
  display: grid;
  gap: 28px;
}
@media (max-width: 991px) {
  .section-about.style-2 .row,
  .banner-2.style-2 .row {
    gap: 40px;
  }
  .section-about.style-2 .heading-section,
  .banner-2.style-2 .heading-section {
    margin-bottom: 12px;
  }
  .section-about.style-2 .tf-btn,
  .banner-2.style-2 .tf-btn {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .section-about.style-2 .number,
  .banner-2.style-2 .number {
    width: 60px;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  .section-about .tf-grid-layout,
  .banner-2 .tf-grid-layout {
    gap: 80px;
  }
}
@media (max-width: 767px) {
  .section-about .parallaxie .content,
  .banner-2 .parallaxie .content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 575px) {
  .section-about .bot,
  .banner-2 .bot {
    flex-direction: column;
    width: 100%;
  }
  .section-about .tf-box-icon,
  .banner-2 .tf-box-icon {
    width: 100%;
  }
}

.banner-2 .parallaxie {
  height: 600px;
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
}
.banner-2 .content {
  position: absolute;
  inset: 0;
  padding: 20px;
}

.section-about-1 .list {
  display: grid;
  gap: 28px;
}
.section-about-1 .tf-btn {
  margin-top: 40px;
}
@media (min-width: 992px) {
  .section-about-1 .number {
    width: 60px;
    flex-shrink: 0;
  }
}
@media (max-width: 991px) {
  .section-about-1 .row {
    gap: 40px;
  }
  .section-about-1 .heading-section {
    margin-bottom: 12px;
  }
  .section-about-1 .tf-btn {
    margin-top: 20px;
  }
}

.section-why {
  background-color: var(--Text-primary);
}
@media (min-width: 1200px) {
  .section-why .tf-grid-layout {
    gap: 60px;
  }
}

.section-agents .swiper:hover .sw-button {
  opacity: 1;
  margin: 0;
}
.section-agents .sw-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 6;
  height: 48px;
  width: 48px;
  opacity: 0;
}
.section-agents .sw-button i {
  font-size: 24px;
}
.section-agents .sw-button.nav-prev-layout {
  left: 20px;
  margin-left: 30px;
}
.section-agents .sw-button.nav-next-layout {
  right: 20px;
  margin-right: 30px;
}
.section-agents .wrap-box-agents {
  border-bottom: 1px solid var(--Line);
}
@media (max-width: 991px) {
  .section-agents .row {
    gap: 40px;
  }
}

.section-faqs .accordion-item:not(:last-child) {
  padding-bottom: 19px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--Line);
}
.section-faqs .faq-item:not(:last-child) {
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .section-faqs .tf-grid-layout {
    gap: 90px;
  }
}

.section-faqs-1 .accordion-item:not(:last-child) {
  padding-bottom: 24px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--Line);
}
.section-faqs-1 .accordion-faqs-content {
  padding-top: 11px;
}
.section-faqs-1 .box-faqs {
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}
.section-faqs-1 .box-faqs .content {
  position: absolute;
  inset: 0;
  padding: 48px;
}
.section-faqs-1 .box-faqs .thumbs img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 1200px) {
  .section-faqs-1 .tf-grid-layout {
    gap: 90px;
  }
  .section-faqs-1 .wrap-accordion {
    padding-top: 4px;
  }
}
@media (max-width: 991px) {
  .section-faqs-1 .tf-grid-layout {
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .section-faqs-1 .box-faqs .content {
    padding: 30px 15px;
  }
}

.section-history {
  background-color: var(--Bg-light);
}
.section-history .content {
  position: relative;
}
.section-history .content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--Line);
  top: 106px;
}
.section-history .wrap-time-line {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
@media (min-width: 1441px) {
  .section-history .wrap-time-line {
    gap: 60px;
  }
}
@media (max-width: 991px) {
  .section-history {
    --spcaing-left: 55px;
  }
  .section-history .wrap-time-line {
    grid-template-columns: 1fr;
    padding-left: var(--spcaing-left);
  }
  .section-history .time-item {
    position: relative;
  }
  .section-history .time-item .dot {
    position: absolute;
    left: calc((var(--spcaing-left) + 8px) * -1);
    top: 0;
  }
  .section-history .content::after {
    height: 100%;
    width: 4px;
    top: 0;
    left: 15px;
  }
}
@media (max-width: 767px) {
  .section-history {
    --spcaing-left: 40px;
  }
}

.section-process .wrap-counter {
  padding-top: 42px;
  border-top: 1px solid var(--Line);
  margin-top: 47px;
}
.section-process .process-item:not(:last-child) {
  margin-bottom: 40px;
}
.section-process .img-style {
  border-radius: 12px;
  overflow: hidden;
}
.section-process .img-style img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-process .tabs-hover-wrap {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .section-process .tabs-hover-wrap {
    margin-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .section-process .img-style {
    margin-left: auto;
    max-width: 690px;
  }
}
@media (max-width: 991px) {
  .section-process .row {
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .section-process .wrap-counter {
    padding-top: 22px;
    margin-top: 22px;
  }
}

.section-process-1 .box {
  background-color: var(--White);
  border-radius: 20px;
  max-width: 670px;
  padding: 39px 40px 40px;
}
.section-process-1 .parallaxie {
  padding: 42.5px 0 43.5px;
}
.section-process-1 .process-item {
  gap: 16px;
}
.section-process-1 .process-item:not(:last-child) {
  position: relative;
  margin-bottom: 24px;
}
.section-process-1 .process-item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-color: var(--Line);
  width: 4px;
  height: calc(100% - 30px);
  top: 42px;
  left: 13px;
}
@media (max-width: 767px) {
  .section-process-1 .box {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-features-property {
  background-color: var(--Text-primary);
}
.section-features-property .dots {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 2px solid var(--Text-primary);
  position: relative;
  margin-top: 7px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section-features-property .dots::after {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--Text-secondary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section-features-property .img-style {
  border-radius: 12px;
  overflow: hidden;
}
.section-features-property .img-style img {
  width: 100%;
  object-fit: cover;
}
.section-features-property .property-item {
  display: flex;
  gap: 16px;
}
.section-features-property .property-item .title {
  color: var(--Text-secondary-2);
}
.section-features-property .property-item p {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: var(--Text-secondary-2);
}
.section-features-property .process-item:not(:last-child) {
  margin-bottom: 40px;
}
.section-features-property .process-item.active .dots {
  border-color: var(--White);
}
.section-features-property .process-item.active .dots::after {
  background-color: var(--White);
}
.section-features-property .process-item.active .title,
.section-features-property .process-item.active p {
  color: var(--White);
}
.section-features-property .tf-grid-layout {
  gap: 0;
}
@media (max-width: 991px) {
  .section-features-property .tf-grid-layout {
    row-gap: 40px;
  }
  .section-features-property .process-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .section-features-property .process-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.section-features-property-2 .box-right {
  border-radius: 0 16px 16px 0;
  overflow: hidden;
}
.section-features-property-2 .sw-button {
  top: 54.4%;
  opacity: 0;
}
.section-features-property-2 .sw-button.nav-next-tes {
  right: -15px;
  margin-right: 30px;
}
.section-features-property-2 .sw-button.nav-prev-tes {
  left: -15px;
  margin-left: 30px;
}
.section-features-property-2:hover .sw-button {
  opacity: 1;
  margin: 0;
}

.section-features-property-3 .tf-btn {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .section-features-property-3 .tf-grid-layout-md {
    gap: 40px;
  }
  .section-features-property-3 .tf-btn {
    margin-top: 48px;
  }
}

.section-features-property-4 .tf-btn {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .section-features-property-4 .tf-grid-layout-md {
    row-gap: 40px;
  }
  .section-features-property-4 .tf-btn {
    margin-top: 48px;
  }
}

.section-popular .wrap-property {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 40px 30px;
  grid-auto-flow: row;
  grid-template-areas: "item-1 item-1 item-2" "item-3 item-4 item-5";
}
.section-popular .wrap-property .item-1 {
  grid-area: item-1;
}
.section-popular .wrap-property .item-2 {
  grid-area: item-2;
}
.section-popular .wrap-property .item-3 {
  grid-area: item-3;
}
.section-popular .wrap-property .item-4 {
  grid-area: item-4;
}
.section-popular .wrap-property .item-5 {
  grid-area: item-5;
}
.section-popular .tf-btn {
  margin-top: 48px;
}
@media (max-width: 1024px) {
  .section-popular .wrap-property {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 40px 30px;
    grid-auto-flow: row;
    grid-template-areas: "item-1 item-1 " "item-2 item-3 " "item-4 item-5";
  }
}
@media (max-width: 767px) {
  .section-popular .wrap-property {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px 30px;
    grid-auto-flow: row;
    grid-template-areas: "item-1" "item-2" "item-3" "item-4" "item-5";
  }
  .section-popular .tf-btn {
    margin-top: 30px;
  }
}

.section-top-properties {
  background-color: var(--Text-primary);
}
.section-top-properties .wrap-nav {
  margin-top: 47px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.section-top-properties .wrap-nav .sw-fraction-layout {
  flex-shrink: 0;
}
.section-top-properties .wrap-sw-button {
  position: relative;
  display: flex;
  gap: 26px;
}
.section-top-properties .wrap-sw-button::after {
  position: absolute;
  content: "";
  background-color: var(--Text-secondary);
  width: 2px;
  height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section-top-properties .sw-button {
  height: unset;
  width: unset;
  background-color: transparent;
  box-shadow: unset;
}
.section-top-properties .sw-button:hover {
  color: var(--Primary);
}
.section-top-properties .swiper:hover {
  cursor: url("../images/section/cursor.png"), auto;
}

.section-categories {
  background-color: var(--Bg-light);
}

.section-location .sw-button,
.section-location-3 .sw-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 6;
  opacity: 0;
}
.section-location .sw-button.nav-prev-layout,
.section-location-3 .sw-button.nav-prev-layout {
  left: -30px;
  margin-left: 30px;
}
.section-location .sw-button.nav-next-layout,
.section-location-3 .sw-button.nav-next-layout {
  right: -30px;
  margin-right: 30px;
}
.section-location .wrap-location,
.section-location-3 .wrap-location {
  display: grid;
  gap: 24px;
}
.section-location:hover .sw-button,
.section-location-3:hover .sw-button {
  opacity: 1;
  margin: 0;
}
@media (max-width: 1199px) {
  .section-location,
  .section-location-3 {
    gap: 24px;
  }
  .section-location .tf-grid-layout > div,
  .section-location-3 .tf-grid-layout > div {
    gap: 15px;
  }
}

.section-location-1 {
  background-color: var(--Text-primary);
}

@media (min-width: 1200px) {
  .section-location-3 {
    margin: 0 30px;
  }
}

.section-call-back .left {
  max-width: 525px;
}
.section-call-back .left .tf-grid-layout {
  gap: 16px;
}
.section-call-back .item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.section-call-back .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border: 1px solid var(--Line);
  font-size: 32px;
  border-radius: 50%;
  color: var(--Text-primary);
}
.section-call-back .banner {
  margin-top: 80px;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .section-call-back .left {
    max-width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .section-call-back .banner {
    margin-top: 60px;
  }
}

.section-privacy .content ul {
  list-style: disc;
  margin-left: 24px;
  display: grid;
  gap: 12px;
}
.section-privacy .content ul li {
  position: relative;
}
.section-privacy .content ul li::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: var(--Text-primary);
  border-radius: 50%;
  top: 12px;
  left: -14px;
}
@media (max-width: 991px) {
  .section-privacy .row {
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .section-privacy .heading-title {
    margin-bottom: 24px;
  }
}

@media (min-width: 1200px) {
  .section-contact .box-contact {
    max-width: 520px;
  }
  .section-contact .tf-grid-layout {
    gap: 20px;
  }
  .section-contact textarea {
    height: 136px;
  }
}
@media (max-width: 767px) {
  .section-contact .row {
    gap: 50px;
  }
  .section-contact .heading {
    margin-bottom: 24px;
  }
}

.section-testimonials .wrap-infiniteslide {
  margin-top: 50px;
}
.section-testimonials .sw-button {
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
}
.section-testimonials .sw-button.swiper-button-prev {
  left: -91px;
  margin-left: 30px;
}
.section-testimonials .sw-button.swiper-button-next {
  right: -91px;
  margin-right: 30px;
}
.section-testimonials .sw-dots {
  display: none;
}
.section-testimonials:hover .sw-button {
  opacity: 1;
  margin: 0;
}
@media (min-width: 768px) {
  .section-testimonials .sw-dots {
    margin-top: 39px;
  }
}
@media (min-width: 768px) {
  .section-testimonials .wrap-infiniteslide {
    margin-top: 80px;
  }
}
@media (max-width: 1500px) {
  .section-testimonials .sw-button {
    display: none;
  }
  .section-testimonials .sw-dots {
    display: flex;
  }
}

@media (min-width: 992px) {
  .section-testimonials-1 .testimonial-item {
    padding-bottom: 100px;
    border-bottom: 1px solid var(--Line);
  }
}

.section-testimonials-2 .wrap-infiniteslide {
  height: 1356px;
  position: relative;
}
.section-testimonials-2 .thumbs img {
  border-radius: 20px;
}
.section-testimonials-2 .testimonial-item {
  padding-bottom: 44px;
  margin-bottom: 44px;
  border-bottom: 1px solid var(--Line);
}
@media (min-width: 992px) {
  .section-testimonials-2 .wrap-infiniteslide::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 778px;
    opacity: 0.6;
    bottom: 0;
    z-index: 1;
    background-color: var(--White);
    backdrop-filter: blur(4px);
  }
}
@media (min-width: 1200px) {
  .section-testimonials-2 .tf-grid-layout {
    gap: 72px;
  }
}
@media (max-width: 991px) {
  .section-testimonials-2 .tf-grid-layout {
    gap: 40px;
  }
}

.properties-details .thumb-main,
.properties-details .thumb-main-2 {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.properties-details .thumb-main .wrap-btn,
.properties-details .thumb-main-2 .wrap-btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.properties-details .thumb-main .tf-btn,
.properties-details .thumb-main-2 .tf-btn {
  padding: 0 16px;
}
.properties-details .wrap-thumbs {
  padding-top: 20px;
  max-width: 1896px;
  margin-left: auto;
  margin-right: auto;
}
.properties-details .wrap-box-hover-active {
  display: flex;
}
.properties-details .thumb-main-2 {
  position: relative;
  overflow: hidden;
  border-radius: unset;
}
.properties-details .thumb-main-2 .img-style {
  height: 465px;
  width: 100%;
}
.properties-details .thumb-main-2 .img-style img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.properties-details .all-review {
  margin-left: 80px;
  margin-top: 28px;
}
.properties-details .wrap-sidebar-right {
  position: sticky;
  top: 160px;
}
@media (min-width: 768px) {
  .properties-details .wrap-box-hover-active {
    gap: 12px;
  }
  .properties-details .thumb-main-2 {
    flex: 1 0 0%;
    transition: flex 0.5s cubic-bezier(0.29, 0, 0.2, 1);
  }
  .properties-details .thumb-main-2 .wrap-btn {
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .properties-details .thumb-main-2.is-active {
    flex: 19.874%;
  }
  .properties-details .thumb-main-2.is-active .wrap-btn {
    opacity: 1;
  }
}
@media (max-width: 1199px) {
  .properties-details .wrap-btn {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .properties-details .wrap-properties {
    gap: 60px;
  }
  .properties-details .right {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .properties-details .wrap-btn {
    flex-direction: row;
  }
  .properties-details .thumb-main-2 .img-style {
    padding: 0 15px;
    height: 350px;
  }
}

@media (min-width: 1200px) {
  .section-properties .tf-grid-layout {
    gap: 40px 30px;
  }
  .section-properties.list .wg-pagination {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .section-properties .row {
    gap: 50px;
  }
}

.section-latest-new .wrap-recent-post {
  display: grid;
  gap: 30px;
}
@media (min-width: 992px) {
  .section-latest-new .tf-grid-layout {
    position: relative;
  }
  .section-latest-new .tf-grid-layout::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--Line);
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}
@media (min-width: 1200px) {
  .section-latest-new .tf-grid-layout {
    gap: 90px;
  }
}

.section-agencies .wrap-list {
  gap: 40px;
}

.section-calculate {
  background-color: var(--Bg-light);
}
.section-calculate .box-content {
  background-color: var(--White);
  border: 1px solid var(--Line);
  border-radius: 16px;
  padding: 28px;
}
.section-calculate .box-content > div:not(:last-child) {
  padding-bottom: 28px;
  border-bottom: 1px solid var(--Line);
  margin-bottom: 28px;
}

/*# sourceMappingURL=styles.css.map */
